@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.work-image {
  height: 350px;
  width: 100%;
  background-image: url(./images/nama1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.work-image-2 {
  background-image: url(./images/pupexpress.png);
}

.work-image-3 {
  background-image: url(./images/netflix.png);
}

.work-image-4 {
  background-image: url(./images/alltrails.png);
}

.work-image-5 {
  background-image: url(./images/lashes.png);
}

.work-image-6 {
  background-image: url(./images/underground.png);
}

.background-shade {
  background-color: rgba(0, 0, 0, .8);
}
